@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* global styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

.clearfix {
	display: table;
	content: " ";
	clear: both;
}

.hide {
	display: none;
}

ul li {
	list-style-type: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* yellow canary test */
.home {
	background: yellow;
	font-family: 'Open Sans', sans-serif;
}