/* global styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

.clearfix {
	display: table;
	content: " ";
	clear: both;
}

.hide {
	display: none;
}

ul li {
	list-style-type: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* yellow canary test */
body {
	background: yellow; 
}